<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme Generator - VeeMemes</title>
</head>
<body>
   <h1>Contact Vee</h1> 
   <div>
        <form action="/" method = "post">
            <input name = "name" type="text" placeholder="Enter your name">
            <input name = "email" type="text" placeholder="Enter your email">
            <input type="submit" value="Submit">
        </form>
   </div>
</body>
</html>